.App {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Timer {
    float: left;
}

.Score {
    float: right;
}

.Game-button {
    padding-top: 2%;
}

.Correct-button {
    float: right;
}

.App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10 + 2vmin);
    margin-bottom: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

img {
    width:100px;
    height:auto
}


.category-box {
    min-width: 5vw;
    min-height: 5vw;
    margin: 5px;
    border: 3px solid rgba(1, 1, 1, 1);
    text-align: center;
    font-family: cursive;
    font-weight: bold;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
  
  .person {
    background: #ffcb04;
  }

  .world {
    background: #005e96;
  }

  .articulateObject {
    background: #0099da;
  }

  .action {
    background: #f37027;
  }

  .nature {
    background: #008752;
  }

  .random {
    background: #ed1c24;
  }
  

.Score {
    margin-bottom: 10px;
}

.Word {
    margin-left: 10px;
}

.Skipped-cards {
    padding-top: 10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
